body {
	height: 4000px;
	font-family: 'Open Sans', sans-serif;
}

.scrolled{
	background-color: rgba(0,0,0, 0.8); /*0.8 opacity*/
}

.header {
	background: url('../img/dummy-header.jpg') no-repeat top center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
	color: #fff;
}

.header .overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.6);
}

.header .centering-vh {
	margin-top: 25vh;
}

.header h1 {
	font-weight: bold;
	font-size: 60px;
}

.header h1 span {
	font-weight: normal;
	font-size: 60px;
	color: #FF8B38;
}

.header h1 ~ .lead { /* the lead class after h1 */
	font-size: 40px;
}

.header h1 ~ .lead::after {
	content: '';
	display: block;
	width: 70px;
	height: 2px;
	background-color: #FFF;
	margin: 25px 0px;
}

.header button {
	background: transparent;
	margin-top: 20px;
	padding: 5px 15px;
	border: 2px solid #FFF;
	font-weight: bold;
}

.header form {
	width: 360px;
	background-color: #FFF;
	border-radius: 5px;
	overflow: hidden;
}

.header form h2 {
	background-color: #F5F5F5;
	color: #333;
	font-size: 18px;
	padding: 10px;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 30px;
}

.header form h2 span {
	color: #FF8B38;
}

.header  form .form-control {
	border-radius: 0;
	border: none;
	box-shadow: none;
	border-bottom: 1px solid #CCC;
	width: 80%;
	margin: 0 auto 40px;
}

.header form input[type="submit"] {
	padding: 15px;
	background-color: #FF9B51;
}

.social-section {
	padding: 10px;
	box-shadow: -2px -5px 13px #000;
}

.social-section h3 {
	font-weight: bold;
	margin-bottom: 5px;
}

.social-section p {
	color: #a1a1a1;
	line-height: 1.4;
}

.social-section i {
	color: #ccc;
	margin: 20px 15px;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	cursor: pointer;
}

.social-section .fa-facebook:hover {
	color: #3b5998;
}

.social-section .fa-twitter:hover {
	color: #1da1f2;
}

.social-section .fa-pinterest:hover {
	color: #1da1f2;
}

.social-section .fa-google-plus:hover {
	color: #dd4b39;
}

.social-section .fa-instagram:hover {
	color: #5851db;
}

.social-section .fa-stumbleupon:hover {
	color: #eb4924;
}

.social-section .fa-rss:hover {
	color: #f26522;
}













.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}
